<div class="row">
  <div class="col-md-6">
    <ba-card title="Security settings" baCardClass="with-scroll">
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitPw(form.value)">
        <div class="form-group row" [ngClass]="{'has-error': (!currentPassword.valid && currentPassword.touched), 'has-success': (currentPassword.valid && currentPassword.touched)}">
          <label for="inputcurrpassword" class="col-sm-2 form-control-label">Current password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" [formControl]="currentPassword" id="inputcurrpassword" placeholder="Current password">
            <span *ngIf="!currentPassword.valid && currentPassword.touched" class="help-block sub-little-text">Your current password is for sure at least 6 characters long.</span>
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <label for="inputpassword" class="col-sm-2 form-control-label">New password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" [formControl]="password" id="inputpassword" placeholder="New password">
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': ((!repeatPassword.valid && repeatPassword.touched) || (!passwords.valid && (password.touched || repeatPassword.touched))), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
          <label for="inputPassword2" class="col-sm-2 form-control-label">Verify password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" [formControl]="repeatPassword" id="inputPassword2" placeholder="Verify new password">
            <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">New passwords are not valid (they must match and must have at least 6 characters).</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Change password</button>
          </div>
        </div>
      </form>
    </ba-card>
  </div>
  <div class="col-md-6">
    <ba-card title="Connection info" baCardClass="with-scroll">
      <h2>SFTP details</h2>
      <div class="section-block upper-text bold-text">
        <p>Host: deployhandler.com</p>
        <p>Port: 22</p>
        <p>Username: Your deployHandler account username</p>
        <p>Password: Your deployHandler account password</p>
      </div>
      <h2>URLs for your Apps</h2>
      <div class="section-block upper-text">
        <ul class="blur">
          <li *ngFor="let app of this.apps"><a href="http://{{app.name}}.deployhandler.com" class="stopped"
                                               target="_blank" [ngClass]="{'started': app.status == 'started'}">{{app.name}}.deployhandler.com</a>
          </li>
        </ul>
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-3">
    <ba-card title="Other settings" baCardClass="with-scroll">
      <div class="section-block upper-text pull-left section-left">
        <p>Clear all your todos</p>
        <button class="btn btn-outline-danger" (click)="onWipeTodos()">Delete TODOs</button>
      </div>
      <div class="section-block upper-text pull-left section-left">
        <p>Permanently DELETE account</p>
        <button class="btn btn-danger">Delete Account</button>
      </div>
    </ba-card>
  </div>
</div>
